Screen {
  background: black;
  color: white;
}

.header {
  text-align: center;
  padding: 2 0;
  height: auto;
  color: white;
  border: none;
}

.menu {
  align-horizontal: center;
  align-vertical: middle;
  padding: 2;
  background: black;
  height: auto;
  width: 100%;
}

MenuItem {
  width: 100%;
  margin: 0;
  text-align: center;
}
